<app-spinner></app-spinner>
<button pButton pRipple type="button" label="Home" class="p-button-raised p-button-text" (click)="go('home')"></button>
<button pButton pRipple type="button" label="Login" class="p-button-raised p-button-text" (click)="go('error404')"></button>
<button pButton pRipple type="button" label="Login" class="p-button-raised p-button-text" (click)="go('error403')"></button>
<button pButton pRipple type="button" label="Spinner" class="p-button-raised p-button-text" (click)="showLoading()"></button>





<!-- <div class="container-fluid bloque" style="width: 99%;">
    <span class="titulo">
        Búsqueda
    </span>
    <div class="row contenidoBloque">
        <div class="col-6" style="text-align: center;">
            Fecha Hasta: 
            <app-date-picker></app-date-picker>
        </div>
    </div>
</div>
<div class="container-fluid bloque" style="width: 99%;">
    <span class="titulo">
        Titulo de tabla
    </span>
    <div class="contenidoBloque" style="margin-top: 1%;">
        <app-tabla [datos]="autos" [mensajePaginado]="'Mostrando {first} a {last}'" [cols]="headers" [modoSeleccion]="'single'" [showCheckInicio]="true" [showActions]='true'></app-tabla>
    </div>
</div> -->