<div class="spinner">
  <div class="load-6">
    <div class="letter-holder">
      <div class="contenedor" style="background-color: gray; height: 100px; width: 300px; border-radius: 15px; text-align: center; display: flex; justify-content: center;"> 
        <div style="margin-top: 10%;">
          <div class="l-1 letter">P</div>
          <div class="l-2 letter">r</div>
          <div class="l-3 letter">o</div>
          <div class="l-4 letter">c</div>
          <div class="l-5 letter">e</div>
          <div class="l-6 letter">s</div>
          <div class="l-7 letter">a</div>
          <div class="l-8 letter">n</div>
          <div class="l-9 letter">d</div>
          <div class="l-10 letter">o</div>
          <div class="l-11 letter">.</div>
          <div class="l-12 letter">.</div>
          <div class="l-13 letter">.</div>
          <div class="l-14 letter">.</div>
        </div>
      </div>
    </div>
  </div>
</div>
